
<div class="container">
    <div class="add-todo-box">
<!--  after we import ngforms we can use ngForm on all forms and do some event binding-->
        <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
            <h2> New Sticky Note</h2>
            <div class="field is-grouped" style="margin: 0">
                <p class="control is-expanded">
                    <!-- here you can enter the max or min length of text 
                         required-->
                    <!-- # is made into the ngModel object-->
                    <input ngModel #todoTextField="ngModel" required 
                                                        minlength="3" 
                                                        maxlength="250" 
                                                        name="text" 
                                                        class="input" 
                                                        type="text"  
                                                        placeholder="Enter new Note...">
                </p>
                <p class="control">
                  <button type="submit" class="button">
                    <i class="material-icons">add</i>
                    ADD 
                  </button>
                </p>
              </div>
              
          <div *ngIf="todoTextField.invalid && showValidationErrors">
               <p class="help is-danger" *ngIf="todoTextField!.errors?.['required']" 
               >Please enter text for your sticky-note</p>
              <p class="help is-danger" *ngIf="todoTextField!.errors?.['minlength']" 
               >Sticky-note must be atleast 3 characters</p>
              <p class="help is-danger" *ngIf="todoTextField!.errors?.['maxlengthd']" 
               >Sticky-note can not exceed 250 characters</p>
          </div> 
            </form>

    </div>
</div>

<section class="section">
    <div class="container">

        <div class="todo-list">

            <app-stack *ngFor= "let stickyNote of stickyNote" 
                        [stickyNote]="stickyNote" 
                        (stickyNoteClicked)="setCompleted(stickyNote)">
            </app-stack>

            </div>

     

        

    </div>
</section>