<div>
<div class="todo-item" (click)="onStickyNoteClicked()" [class.completed]="stickyNote.completed">
    <div class="check-box">
        <i class="material-icons">done</i>
    </div>

    <div class="todo-text">
        {{ stickyNote.text }}
        <div class="todo-controls-box" (click)="$event.stopPropagation()">
            <div class="todo-control-button" (click)="onDeleteClicked()" (click)="onEditClicked()"  >
                <i class="material-icons">edit</i> 
                
                <i class="material-icons">delete</i> 
            </div>
        </div>
    </div>
</div>
</div>