<div>
<div class="todo-item" (click)="onStickyNoteClicked()" [class.completed]="stickyNote.completed">
    <div class="check-box">
        <i class="material-icons">done</i>
    </div>

    <div class="todo-text">
        <!-- creating a variable to use with string circulation -->
        {{ stickyNote.text }}
        <div class="todo-controls-box" (click)="$event.stopPropagation()">
            <div class="todo-control-button" >
                <i class="material-icons" (click)="onEditClicked()">edit</i> 
               
                <i class="material-icons" (click)="onDeleteClicked()">delete</i> 
            </div>
        </div>
    </div>
</div>
</div>