/* this is only for the header */
.heading-section { 
    background: linear-gradient(to right, rgb(98, 88, 238), rgb(193, 40, 240));
    padding: 100px;
    padding-bottom: 150px;


}
    h1.title {
        font-weight:bold;
        color: white;
        text-shadow: 0px 1px 2px (black 0.2)px;
        text-align: center;
    }
    h3 {
        font-weight:bold;
        color: white;
        text-shadow: 0px 1px 2px (black 0.2)px;
        text-align: center;
    }
    .hamburger-menu {
        background: black;
        border: none;
        cursor: pointer;
        
      }
      
      .hamburger-menu i {
        color: #333;
        font-size: 1.5em;
      }
