/* this is only for the header */
.heading-section { 
    background: linear-gradient(to right, rgb(98, 88, 238), rgb(193, 40, 240));
    padding: 100px;
    padding-bottom: 150px;


}
    h1.title {
        font-weight:bold;
        color: white;
        text-shadow: 0px 1px 2px (black 0.2)px;
        text-align: center;
    }
button{
    display: flex;
    color: black;
    padding: 20px;
    width: 140px;
    border: white;
    
}

.navbar{
    display: flex;
    width: 80px;
    
}
.navbar-item{
    width:120px;
}
h3{
    text-align: center;
    font-size: 24px;
}
