/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bulma/bulma.sass'; 
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; }

button {
    border:none;
    background: linear-gradient(to right, rgb(98, 88, 238), rgb(193, 40, 240));
  
    font-weight: 660;
    border-bottom: 2px solid rgb(189, 200, 211);

}
