<section class="heading-section">
  <nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-item has-dropdown is-hoverable">
      <button class="navbar-link" (click)="toggleMenu()">Menu</button>

      <div class="navbar-dropdown">
        <a class="navbar-item" routerLink=""> Working </a>
        <a class="navbar-item" routerLink="/archive" > Completed </a>
        <a class="navbar-item" routerLink="/trash"> Deleted </a>
      </div>
    </div>
  </nav>
  <h1 class="title is-1">ToDo List</h1>

  <h3>In Progress</h3>
</section>

<app-sticky-note></app-sticky-note>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>ToDo List</strong> by <a href="https://jgthms.com">Russell, Brandon & Voegele, Rina</a>
      <a>  &copy; Copyright 2022 SkillStorm - Java VET TEC</a>
  </div>
</footer>