<section class="heading-section">
  <nav class="navbar" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-item has-dropdown is-hoverable">
      <button class="navbar-link" (click)="toggleMenu()">Menu</button>

      <div class="navbar-dropdown">
        <a routerLink=""> Working </a>
        <a routerLink="/archive"> Completed </a>
        <a routerLink="/trash"> Deleted </a>
      </div>
    </div>
  </nav>
  <h1 class="title is-1">ToDo List</h1>

  <h3>In Progress</h3>
</section>

<app-sticky-note></app-sticky-note>
